body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
}

.container {
    width: 1160px ;
    margin: 0 auto;
}

.main-header{
    background-color: #eee;
}

.main-header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    list-style: none;
    display: flex;
}

.navigation-item {
    margin-right: 45px;
}

.navigation-item a, .user-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;

    text-decoration: none;
    text-transform: uppercase;
}

.navigation-item:last-child{
    margin-right: 0;
}

.user-list {
    list-style: none;
    display: flex;
}

.slider {
    background-color: #eee;
}

.slider-item {
    padding: 80px 0;
}

.slider-title{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    margin-bottom: 25px;
}

.slider-text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;

    color: white;
    background: #FB565A;
    border-radius: 3px;
    padding: 15px 40px;
    text-decoration: none;

    text-align: center;
    text-transform: uppercase;
}

.btn_big {
    padding: 15px 55px;
}

.btn_green {
    background-color:#00CA74;
}

.btn_yellow {
    background-color: #EFC849;
}

.slider-item-1{
    background-image: url(../img/nerds-index-slide1\ 1.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider--wrapper {
    width: 540px;
}

.services {
    padding: 80px 0;
}

.services-list {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    padding: 0;
}

.services-item {
    width: 300px;
}

.services-item img {
    margin-bottom: 25px;
}

.services-item h2 {
    margin: 0;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item p {
    margin: 0;
    margin-bottom: 30px;
}

.info--wrapper{
    display: grid;
    grid-template-columns: 660px 360px;
    grid-gap: 140px;

    padding: 70px 0;

    border-top: 2px solid #EEEEEE;
}

.info-text--big {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;

    margin: 0;
    margin-bottom: 32px;
}

.info-text {
    margin-bottom: 40px;
}

.info-title {
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;
    color: #283136;
}

.orders-list {
    padding: 0;
    list-style-type: none;

}

.orders-item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    padding-left: 35px;

    position: relative;
}

.orders-item::before {
    position: absolute;
    content: '';

    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 25px;
    height: 3px;
    background: #FB565A;
}

.info-img {
    margin-bottom: 35px;
}

.info-stats {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.info-stats--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}

.stats-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.stats-title sup {
    font-size: 26px;
    line-height: 40px;
}

.partners-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;

    list-style-type: none;

    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    padding: 45px 35px;
    align-items: center;
}

.partners-item {
    position: relative;
}

.partners-item::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 52px;
    background: #eeeeee;
    top: 50%;
    transform: translateY(-50%);
    right: -48px;
    filter: opacity(1);
}

.main-footer {
    padding: 80px 0 60px;
}

.map-img {
    width: 100%;
    height: 416px;

    position: relative;
}

.map {
    position: relative;
}

.map--wrapper {
    position: absolute;
    top: 54px;
    padding: 50px;
    width: 320px;
    box-sizing: border-box;
    background-color: #fff;
}

.map--wrapper h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 23px;
}

.map--wrapper p {
    margin: 0;
    margin-bottom: 20px;
}

.map--wrapper::after {
    content: "";
    position: absolute;
    background-image: url(../img/map-marker.png);
    background-repeat: no-repeat;

    width: 230px;
    height: 230px;

    top: 30px;
    right: -640px;
}

.social {
    padding-top: 70px;
    display: flex;
    align-items: center;
}

.social-link-list {
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    width: 260px;

    margin-right: 140px;
}

.social-link-item a{
    background-color:  #e1e1e1;

    width: 81px;
    height: 81px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.social-text-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;

    margin: 0;
}

.social-text-subtitle {
    font-size: 16px;
    line-height: 22px;

    margin: 0;
    margin-top: 10px;
}
